/* Reset CSS */
*{
   margin: 0;
   padding: 0;
   list-style: none;
   box-sizing: border-box;
}
a{
   text-decoration: none;
}

/* Header-top */
.header-top{
   background-color: #6b6c6d;
   height: 60px;
   width: 100%;
}
.logo a{
   font-size: 1.5re;
   font-weight: 700;
   color: #fff;
   text-transform: uppercase;
   float: left;
   display: block;
   line-height: 65px;
   margin-left: 50px;
}
.nav {
   float: right;
   line-height: 40px;
}
.nav ul{
   margin-right: 50px;
}
.nav ul li{
   display: inline-block;
}
.nav ul li a{
   display: block;
   padding: 10px 16px;
   font-size: 1.25rem;
   color: #fff;
   transition: all .3s ease;
   opacity: 0.8;
}
/* .nav ul li a:hover{
   color: #fff;
   opacity: 1;
} */
.nav ul li:hover a {
   background-color: #000;
   color: #fff;
   opacity: 1;
}
/* /Header-top */
