/* Reset CSS */
*{
   margin: 0;
   padding: 0;
   list-style: none;
   box-sizing: border-box;
}
body{
   font-family: 'Poppins', sans-serif;
}
a{
   text-decoration: none;
   display: inline-block;
}
.btn{
   padding: 10px 35px;
   background: #4d0ab9;
   color: #fff;
   text-align: center;
   border-radius: 5px;
   margin-top: 15px;
   transition: all .2s ease-in-out;
}
.btn:hover{
   color: #fff;
   background: #31037a;
}

/* Header-top */
.header-top{
   background-color: #4d0ab9;
   height: 60px;
   width: 100%;
}
.logo a{
   font-size: 1.5re;
   font-weight: 700;
   color: #fff;
   text-transform: uppercase;
   float: left;
   display: block;
   line-height: 65px;
   margin-left: 50px;
}
.nav {
   float: right;
   line-height: 40px;
}
.nav ul{
   margin-right: 50px;
}
.nav ul li{
   display: inline-block;
}
.nav ul li a{
   display: block;
   padding: 10px 14px;
   font-size: 1rem;
   font-weight: 300;
   color: #fff;
   transition: all .3s ease;
   opacity: 0.8;
}
/* .nav ul li a:hover{
   color: #fff;
   opacity: 1;
} */
.nav ul li:hover a {
   background-color: #31037a;
   color: #fff;
   opacity: 1;
}
/* Hero Area */
.hero-area{
   background-color: #e2e2e2;
   background: url(/images/hero-bg.jpg)no-repeat center;
   background-size: cover;
   width: 100%;
   height: 100%;
}
.hero-content{
   margin: 0 auto;
   text-align: center;
   padding-bottom: 180px;
   padding-top: 180px;
   position: relative;
   z-index: 1;
   color: #fff;
}
.bg-hover{
   background: rgba(104, 15, 221, 0.4);
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   margin: 0 auto;
   text-align: center;
   z-index: -9999;
}
h2.title{
   padding-bottom: 18px;
   font-size: 3.75rem;
   font-weight: 900;
   font-family: 'Playfair Display', serif;
}
.lead{
   width: 50%;
   margin: 0 auto;
   line-height: 25px;
   font-weight: 300;
}